.header {
  display: flex;
  height: auto;
  padding: 0 25px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 35px;
  height: 35px;
}

.menu {
  flex: 1;
  min-width: 0;
  display: flex;
  justify-content: flex-start;
}

.menu .menuLastItem {
  margin-left: auto;
}

@media (max-width: 576px) {
  .menu {
    justify-content: space-around;
  }

  .menu .menuLastItem {
    margin-left: 0;
  }
}
